html {
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
}

div {
	border: 1px solid pink;
}

.header {
	max-width: 850px;
	margin: 0 auto;
}

.header {
	display: flex;
	height: 4rem;
	padding: 1rem 1.5rem;
	align-items: center;
	font-family: 'Oxygen', sans-serif;
}
.header .logo {
	display: flex;
	flex-grow: 1;
	align-items: center;
	text-transform: uppercase;
}
.header .logo span {
	font-weight: bold;
}


.header ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
.header li {
	margin-left: 1rem;
}